.shop__page {
    padding: 8px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.shop__category {
    margin-bottom: 16px;
}

.shop__category-header {
}

.shop__category-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    justify-content: space-between;
}